<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evento duplicado</title>
    <meta type="hidden" name="_csrf" value="{{token}}"/>
    <meta id="_csrf_header" content="{{headerName}}"/>
    <link href="/css/styleSavedEvent.css" rel="stylesheet">
</head>

<body>
<div class="text-center">
    <h2>El evento ya ha sido añadido anteriormente</h2>
</div>

<div class="text-center">
    <button class="btn btn-primary" onclick="location.href = '/'">Volver al inicio</button>
    <button class="btn btn-primary" onclick="location.href = '/events'">Volver a los planes</button>
    <button class="btn btn-primary" onclick="location.href = '/planning'">Ver tu planning</button>
</div>
</body>

</html>