<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iniciar sesión</title>
    <meta id="_csrf_header" content="{{headerName}}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/signIn.js"></script>
    <meta charset="UTF-8">
    <link href="/css/styleNewEvent.css" rel="stylesheet"></head>

<body class="">


<div class="card">
    <div class="card-block">
        <h2>Iniciar Sesi&oacuten</h2>
        <div>
            <h4><a href="/oauth2/authorization/google">Login with Google</a></h4>
        </div>
        <form action="/login" class="reveal-content" id="form" method="POST"> <!-- falta para enviar los datos mas adelante method="post"-->
            <div class="form-group">
                <input type="email" class="form-control" name="email" required placeholder="Email">
                <p id="emailFail" class="error"></p>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password"  required placeholder="Password">
                <p id="passwordFail" class="error"></p>
            </div>

            <input type="hidden" name="_csrf" value="{{token}}"/>

            <div class="form-group">
                <button type="submit" value="Sign In" class="btn btn-primary">Iniciar Sesión</button>
                <button class="btn-link" onclick="location.href = '/'"> Cancelar</button>
            </div>


        </form>
    </div>
</div>


</body>

</html>