<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Opiniones</title>
        <meta type="hidden" name="_csrf" value="{{token}}"/>
        <meta id="_csrf_header" content="{{headerName}}"/>
        <link href="/css/styleSavedEvent.css" rel="stylesheet">
    </head>

    <body>
        <div
                class="background-color-layer" style="background-image: url('images/fire.jpg')">
        </div>

        <header class="white-text-container section-container">
            <div class="text-center">
                <h1>OPINIONES</h1>
            </div>
        </header>

        <form action="/event/{{idEvent}}/review/filtered" class="reveal-content" method="post" id="form">


            <div class="form-group">

                <div class="text-center">
                    <input type="email" class="form-control" id="userName" name="userName" placeholder="Nombre de usuario" required>
                </div>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="btnAddEvent">Filtrar</button>
                </div>
                <input type="hidden" value="{{token}}" name="_csrf">
            </div>

        </form>

        {{#reviews}}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-block">
                            <h2><u>Usuario:</u> {{userName}}</h2>
                            <div class="row">
                                <p>{{{message}}}</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/reviews}}

        <div style="text-align: center">
            <img src="/images/oso.jpg" class="img-responsive" alt="" style="margin-left: 750px">
        </div>

        <div class="text-center">
            <button class="btn btn-primary" onclick="location.href = '/'">Volver al inicio</button>
            <button class="btn btn-primary" onclick="location.href = '/events'">Volver a los planes</button>
            <button class="btn btn-primary" onclick="location.href = '/user/planning'">Ver tu planning</button>
        </div>
    </body>

</html>