<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opinión añadida</title>
    <meta type="hidden" name="_csrf" value="{{token}}"/>
    <meta id="_csrf_header" content="{{headerName}}"/>
    <link href="/css/styleSavedEvent.css" rel="stylesheet">
</head>

<body>
<div class="text-center">
    <h2>La opinión ha sido guardado correctamente: </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h2>Usuario: {{review.userName}}</h2>
                    <div class="col-md-8">
                        <p>{{{review.message}}}</p><br>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="location.href = '/'">Volver al inicio</button>
                        <button class="btn btn-primary" onclick="location.href = '/event/{{idEvent}}/reviews'">Volver a las reviews</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>